<%- include('partials/header') -%>
<body class="back "  >

 

    
    <div class="container card-container my-5 rounded">
      
      <div class="row-cols-1 g-4 mb-5">
        
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="col ">
            <div class="feed card h-20 py-4 px-4 my-4 mx-4 ">
            <a class='' href="/post/<%= posts[i]._id%>">
              <!-- <video class="img-fluid" src="<%= posts[i].image%>"> -->
                <h3 class="text-dark px-3"><%= posts[i].title.toUpperCase()%></h4>
                </a>
                <!-- <h6 class="text-center text-dark"><%= posts[i].caption%></h5> -->
                  <h6 class="text-dark px-5 "> <%= user.userName %></h6>
                
                  
                
                <audio alt="<%= posts[i].caption%>" class='mx-1 px-3 mb-2 col-12' controls src="<%= posts[i].image%>"></audio>
                <div class="row justify-content-between row">
                  
                <form
                    class="col-6 px-5 py-2"
                    action="/feed/likePost/<%= posts[i]._id%>?_method=PUT"
                    method="POST"
                  >
                    <button class="btn btn-warning fa fa-heart" type="submit"></button>
                  
                  </form>
                  <h5 class="col-6 px-5 py-2 text-warning shadowT">Likes: <%= posts[i].likes %></h5>
                  </div>
            

                  
                </div>
        <% } %>
       
    </div>
  </div>  
<%- include('partials/footer') -%>
</body>