<%- include('partials/header') -%>
<body class="back "  >

 

    
    <div class="container card-container my-5 rounded">
      
      <div class="row g-4 mb-5">
        
        <% for(var i=0; i<posts.length; i++) {%>
          
            <div class="feed card h-20 py-4 px-2 my-4 mx-2 ">
            <a class='link-warning' href="/post/<%= posts[i]._id%>">
              <!-- <video class="img-fluid" src="<%= posts[i].image%>"> -->
                <h3 class="text-dark text-center px-3"><%= posts[i].title.toUpperCase()%></h4>
                </a>
                
                <!-- <h6 class="text-center text-dark"><%= posts[i].caption%></h5> -->
                  <h6 class="text-dark text-center px-3 ">  <%= userName[i]%></h6>
                
                  
                
                <audio alt="<%= posts[i].caption%>" class='mx-1 px-3 mb-2 col-12' controls src="<%= posts[i].image%>"></audio>
                
               
                
                <div class="row">
                  
                <form
                    class="col-sm px-5 py-2"
                    action="/feed/likePost/<%= posts[i]._id%>?_method=PUT"
                    method="POST"
                  >
                    <button class="btn btn-warning fa fa-heart" type="submit"></button>
                  
                  </form>
                  <h5 class="col-sm px-5 py-2 text-warning shadowT">Likes: <%= posts[i].likes %></h5>
                    <!-- <div class="col-sm">
                    <button 
                    onclick="copyContent('hello')" 
                    class="btn btn-warning fa fa-save " ></button>
                  </div> -->
                  
</div>
<!-- <p id="myText"><%=posts[i]._id %></p>
<button class="btn" onclick="copyContent()">Copy!</button>

<script>
  let text = document.getElementById('myText').innerHTML;
  const copyContent = async () => {
    try {
      await navigator.clipboard.writeText(text);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
</script> -->
                </div>
        <% } %>
       
    </div>
  </div>  
<%- include('partials/footer') -%>
</body>