<%- include('partials/header') -%>
<body class="back">
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="">
      <h2 class="px-5 pb-5 text-center"><%= post.title %></h2>
      <!-- <h3><%= post.userName %></h3> -->

      <h4 class="text-centered py-4"><%= post.caption %></h4>
      <audio alt="<%= post.caption%>" class="col-12" controls src="<%= post.image%>"></audio>
      <div class=" text-centered">
        
      </div>
      <!-- <img class="img-fluid" src="<%= post.image%>" /> -->
      <div class="row justify-content-between">
        <form
          class="col-2"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-warning fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-4">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-2"
        >
          <button class="btn btn-warning fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    
    <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>"  method="POST">
        <div class="mb-3">
            
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-warning mb-5" value="Upload"><strong>Submit</strong></button>
      </form>
    </div>
    <h4 class=" text-dark text-center"><strong>Comments</strong></h4>
    <div class="mx-5 px-5  ">
    <div class="commentBg" >
      <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <%/* <!--get posts from our server db pulling from our controller-->
                  <!--controller works with view, view doesnt communicate with others--> */%>
        <div class="row ">
        <div class=" justify-content-between text-light mt-2 ">
          <%= comments[i].comment%>
          <!-- Comment Id: <%= comments[i].id%>  -->

          <%if(comments[i].user == user.id){ %>
            <div class="row pb-2 ">
            <form
              action="/comment/deleteComment/<%= comments[i]._id%>?_method=DELETE"
              method="POST"
              class="col-6 "
            ><div class="py-1 ">
              <button class="btn btn-warning fa fa-trash " type="submit"></button>
            
            </form>
            </div>
            <%}%>
          </div>
      <% } %>
    </div>
      </div>
    </div>
    </ul>
</div>
    
  </div>
  
</div>

<%- include('partials/footer') -%>
</body>