
    <%- include('partials/header') -%>
    <body class="back">
    
    <div class="container card-container my-5 rounded ">
      
      <div class="row-cols-1 feed g-4 mb-5 pb-5">
        
        <h2 class="text-dark text-center p-5"><strong>Welcome</strong>: <%= user.userName %></h2>
        <% for(var i=0; i<posts.length; i++) {%>
        <div class="col">
          <div class="card commentBg h-20 py-2 my-4 mx-4">
            <!-- <img src="<%= posts[i].image%>" class="card-img-top" alt="..."> -->
            <a class="text-dark card-body " href="/post/<%= posts[i]._id%>">
              <h4 class="card-title text-center"><b><%= posts[i].title%></b></h4>
            </a>
            
              <h5 class="card-text text-center"><%= posts[i].caption %></h5>
              <audio alt="<%= posts[i].caption%>" class='bigAudio col-12 mx-1 px-3 my-3' controls src="<%= posts[i].image%>"></audio>
              
              
              <!-- <a href="/post/<%= posts[i]._id%>" class="btn btn-primary bg-dark">View Song</a> -->
              <!-- <a href="/post/<%= posts[i]._id%>" class="btn btn-primary">Edit</a> -->
            
            <!-- <div class="card-footer">
              <span class="badge rounded-pill bg-primary"><%= posts[i].country%></span>
              <span class="badge rounded-pill bg-secondary"><%= posts[i].dish%></span>
            </div> -->
          </div>
        </div>
        <% } %>
      </div>
    </div>
    </div>
    
    <%- include('partials/footer') -%>
    </body>

    